/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2019, 12:06:16 PM
    Author     : maxbrown
*/

* {
    /* Colors */
    -black: #3c4043;
    -blue: #1a73e8;
    -light-gray: #dadce0;
    -gray: #70757a;
    -green: #0b8043;
    -red: #bd2c00;
    
    /* Font */
    -fx-font-family: Arial;
    -fx-text-fill: -black;
}

.container {
    -fx-padding: 20;
}

.container > .label-container .label {
    -fx-font-size: 14;
}

.container > .label-container.title .label {
    -fx-font-size: 22;
}

.container > .label.error {
    -fx-text-fill: -red;
}

.container > .label-container .icon {
    -fx-fill: -gray;
}

.container > .text-field {
    -fx-background-color: -fx-text-box-border, white;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 14;
}

.container > .text-field.title {
    -fx-background-color: -fx-text-box-border, white;
    -fx-font-size: 22;
}

.container > .text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}