/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2019, 9:01:12 AM
    Author     : maxbrown
*/

* {
    /* Colors */
    -black: #3c4043;
    -blue: #1a73e8;
    -light-gray: #dadce0;
    -gray: #70757a;
    -green: #0b8043;
    
    /* Font */
    -fx-font-family: Arial;
    -fx-text-fill: -black;
}

.month > .week-day {
    -fx-font-size: 12;
    -fx-text-fill: -gray;
}

